/* YeyeYeee código aquí */

*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Quicksand', sans-serif; 
}
/* NAV */
nav{
	background-color: black;
	height: 6rem;
	margin: 0;

}
/* ------INDEX ------*/
.index{
	background-color: #393d40;
	height: 150vh;
	width: 100%;
}

.logoindex{
	margin-top: 5rem;
	width: 20%;
}

.titleindex{
	color: #f7b617;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
}


#formulario {
	height: 30rem;
	width: 90%;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background-color: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}
.inicioses{
	background-color: #f7b617;
	width: 100%;
}

.passworp{
	color: white;
	text-align: center;
	margin-top: 15rem;
}

.sesion{
	margin-top: 1rem;
	color: white;
	text-align: center;
}

.iniciasesion{
	color:#f7b617;
	font-weight: 900;
	margin-left: 10px;
}
/* ------HOME ------*/
/* clas="center-block" para imagenes*/
.home{
	background-image: url(../docs/transporte.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}
i.material-icons.hambur{
	font-size: 40px;
	margin-top: 10px;
}
.botonesHome{
	width: 50%;
	margin-top: 10rem;
}

i.fa.iconsmenu{
	color: #f7b617;
	font-size: 25px;
}

.btn-home{
	background-color: #f7b617;
	width: 160%;
	margin-top: 2vh;
	height: 4rem;
	margin-left: 3rem;
}
a.waves-effect{
	color: whitesmoke;
	font-size: 18px;
	font-weight: 400;
}
.brand-logo{
	margin-top: 1rem;
}
/* ------PREGUNTAS FRECUENTES ------*/
.preguntas{
	display: flex;
	height: 50vh;
	background-color: #f7b617;
	width: 100%;
}
.preguntatitle{
	text-align: center;
	color: white;
	font-size: 50px;
	font-weight: 500;
	padding-top: 10vh;
	margin-left: 10%;
}
.collapsible-body{
	background-color: white;
}
/* ------PERFIL ------*/
.perfil{
	background-color: whitesmoke;
	height: 100vh;
	width: 100%;

}
.perfilimg{
margin-top: 6%;
width: 15rem;
height: 15rem;
}
.perfilsecond{
	display: flex;
	height: 40vh;
	background-color: #f7b617;
	width: 100%;
}

.datosperfil{
	width: 80%;
	margin-left: 4rem;
}
#number-card{
		width: 80%;
	margin-left: 4rem;
}
#btnagregar{
	background-color: #f7b617;
	margin-left: 5rem;
}

.tarjetasnuevas{
background-color:#e2e1e1;
height: 3rem;

}
.numerosingre{
	color: black;
	margin-top: 0.5rem;
	font-size: 20px;
}
/* ------SALDO ------*/
.saldo{
	background-image: url(../docs/transporte.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#ingresotarjeta{
	margin-top: 10rem;
	background-color: white;
	padding-left: 1rem;
}
 .btnsaldo{
 	background-color: #f7b617;
 }

.input-field{
	background-color: white;
	padding-left: 1rem;
}

.titulosaldo{
	background-color: black;
	height: 3rem;
	color: white
}

.saldotitle{
	color: whitesmoke;
	font-size: 14px;
	margin-top: 1rem;
}

.montototal{
	background-color: #f7b617;
	height: 7rem;
}
p{
	color: white;
	margin-top: 20rem;
	font-size: 40px;
}
/* -----Calcular-SALDO ------*/

#calculartarj{  
	margin-top: 5rem;
	background-color: white;
	padding-left: 1rem;
}	

.calculofinal{
	background-color: #f7b617;
	margin-top: 4rem;
}