/* YeyeYeee código aquí */

*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Quicksand', sans-serif; 
}
/* NAV */
nav{
	background-color: black;
	height: 6rem;
	margin: 0;

}
/* ------INDEX ------*/
.index{
	background-color: #393d40;
	height: 100vh;
	width: 100%;
}

.img-inex{
	margin-top: 20rem;
}

.titleindex{
	color: #f7b617;
	font-size: 80px;
	font-weight: 900;
	text-align: center;
}


.formindex {
	width: 70%;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
	width: 100%;
  background: #f7b617;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }

.iconsformindex{
	margin-left: 10px;
}

.passworp{
	color: white;
	text-align: center;
}

.sesion{
	margin-top: 5rem;
	color: white;
	text-align: center;
}

.iniciasesion{
	color:#f7b617;
	font-weight: 900;
	margin-left: 1rem;
}

/* ------HOME ------*/
/* clas="center-block" para imagenes*/
.first{
	background-image: url(../docs/transporte.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}
i.material-icons.hambur{
	font-size: 50px;
	margin-top: 10px;
	margin-left: 2rem;
}
.botonesHome{
	width: 100%;
	margin-top: 20rem;
	margin-left: 10rem;	
}

i.fa.iconsmenu{
	color: #f7b617;
	font-size: 25px;
}

.btn-home{
	background-color: #f7b617;
	width: 50rem;
	margin-top: 5vh;
	height: 5rem;
}

a.waves-effect{
	color: whitesmoke;
	font-size: 25px;
	font-weight: 400;
	padding-top: 1rem;
}
.brand-logo{
	margin-top: 1rem;
}
/* ------PREGUNTAS FRECUENTES ------*/
.preguntas{
	display: flex;
	height: 50vh;
	background-color: #f7b617;
	width: 100%;
}
.preguntatitle{
	text-align: center;
	color: white;
	font-size: 70px;
	font-weight: 900;
	padding-top: 10vh;
	margin-left: 20rem;
}
.collapsible-body{
	background-color: white;
}