/* YeyeYeee código aquí */

*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Quicksand', sans-serif; 
}
/* NAV */
nav{
	background-color: black;
	height: 6rem;
	margin: 0;

}

/* ------HOME ------*/
/* clas="center-block" para imagenes*/
.home{
	background-color: #dcdddf;
	height: 100vh;
	width: 100%;
	margin: 0;
	top:0;
}

.botonesHome{
	width: 100%;
	margin-top: 20rem;
	margin-left: 5rem;
	
}

.btn-home{
	background-color: #f7b617;
	width: 50rem;
	margin-top: 5vh;
	height: 5rem;
}

a.waves-effect{
	color: whitesmoke;
	font-size: 25px;
	font-weight: 400;
	padding-top: 1rem;
}